<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CslaObjectFactoryLoader" value="ProjectTracker.Library.Framework.Factories.GenericFactoryLoader, ProjectTracker.Library" />
  </appSettings>
  <connectionStrings>
    <add name="PTracker"
			 connectionString="Data Source=SCSQLSRVTEST03;initial catalog=ProjectTracker;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient" />
    <add name="Security"
			 connectionString="Data Source=SCSQLSRVTEST03;initial catalog=ProjectSecurity;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>